<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GeneratorData" value="../../../Input/01-Basic.xml"/>
    <add key="ReferenceData" value="../../../Input/ReferenceData.xml"/>
    <add key="OutputFile" value="../../../Output/01-Basic-Result.xml"/>
  </appSettings>
</configuration>